*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsla(231, 53%, 10%, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.section{
    width: 100%;
    min-height: 80px;
    /* border: 2px solid yellow; */
}

.margin10px{
    margin-top: 20px;
}

.FAiconcolor{
    color: rgb(196, 193, 193);
}

.WhiteBackgroundColor{
    background-color: white;
}


.whiteTextColor{
    color: white;
}






.container {
    width: 100%;
    min-height: 150vh;
    /* border: 2px solid red; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    
    grid-template-areas: "navBar navBar navBar"
                        "main_cont main_cont main_cont"
                        "songPlayerContainer songPlayerContainer songPlayerContainer";
}





.navigation{
    grid-area: navBar;
    /* border: 2px solid green; */
    color: white;

    display: flex;
    justify-content: space-between;
}

.navBar_LeftSide{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.logo{
    width: 100px;
    height: 90px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.logoText{
    font-size: 1.5rem;
}



.navBar_RightSide{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
}


.faintColor{
    background-color: inherit;
}

.navBar_RightSide div{
    margin: 20px;
}

.searchBar{
    width: 350px;
    height: 40px;
    background-color: rgb(27, 36, 90);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.searchtextField input{
    border: none;
    outline:none;
    width: 250px;
    height: 30px;
    color: white;
}

.notificationBell i{
    color: white;
    font-size: 1.5rem;
}


.profileImage{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.profileImage img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



@media only screen and (max-width: 576px){
    .navigation{
        flex-direction: column;
        position: relative;
    }

    .profileImage{
        position: absolute;
        top:0;
        right: 0;
    }
}














.main_container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 30%;
    grid-template-rows: aut0;

    grid-template-areas: "main_article main_article playListQueue";

    grid-area: main_cont;
    /* border: 2px solid black; */
}



.mainContent{
    display: flex;
    flex-direction: column;
    grid-area: main_article;
    /* border: 2px solid blue; */

}



.aside_container{
    grid-area: playListQueue;
    /* border: 2px solid purple; */
}









.main_container{
    color: white;
}


.songImages{
    display: flex;
    direction: row;
    justify-content: space-evenly;
}

.songImages div{
    width: 250px;
    height: 250px;
    transition: 1s;
}

.songImages img{
    width: 100%;
    height: 100%;
}

/* when hovered */
.songImages div:hover{
    transform: scale(1.2);
}



@media only screen and (max-width: 576px){
    .songImages div{
        width: 120px;
        height: 120px;
    }
}










.section_name{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}


.songNameList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.songName{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.songName p,i{
    font-size:small;
    line-height: 1.35rem;
}


.singleSongImages{
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: relative;
    transition: 1s;
}

.singleSongImages img{
    width: 100%;
    height: 100%;
}

.playButton2{
    display: none;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.playButton2 i{
    background: none;
    position:absolute;
    top: 45%;
    left: 50%;
}


/* when hovered */
.singleSongImages:hover .playButton2{
    display: block;
    background-color: hsla(0, 2%, 9%, 0.363);
}






.singleSong{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.songMenuDot{
    position: relative;
}


.songMenuDot i{
    font-size: 1.5rem;
}


.singleSongOptions, .singleSongOptions1{
    display: none;
    width: 180px;
    height: 155px;
    background-color: white;
}


.singleSongOptions ul, .singleSongOptions1 ul{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.singleSongOptions i,span{
    font-size: 1rem;
    background-color: inherit;
    color: grey;
    margin: 5px;
}


.singleSongOptions ul li, .singleSongOptions1 ul li{
    list-style: none;
    margin-top:10px;
    background-color: inherit;
}


.songMenuDot:hover .singleSongOptions{
    display: block;
    position: absolute;
    right:31%;
    z-index: 2;
}


.singleSongOptions1 i,span{
    font-size: 1rem;
    background-color: inherit;
    color: grey;
    margin: 5px;
}


.songMenuDot:hover .singleSongOptions1{
    display: block;
    position: absolute;
    right:70%;
    z-index: 2;
}













.artistContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.artistDetail{
    width: 120px;
    height: auto;
    margin: 10px;
    margin-top: 20px;
}

.artistImage{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 5px;
    position: relative;
}

.artistImage img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.playButton{
    display: none;
    background: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.playButton i{
    background: none;
    font-size: larger;
    position: absolute;
    top: 40%;
    left: 45%;
}


.artistName{
    width: 100%;
    text-align: center;
}

.artistName span{
    color: white;
}


/* when hovered */
.artistImage:hover .playButton{
    display: block;
    background-color: hsla(0, 2%, 9%, 0.363);
}












.genre{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: hsla(233, 61%, 16%, 1);
}

.genreImage{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px 0 10px;

    position: relative;
}

.genreImage img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    
}

.genreImage span{
    color:white;
    background: none;

    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}









.genreSection2{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.genreSection2Image{
    width: 30%;
    height: 80%;
    overflow: hidden;

    position: relative;
}

.genreSection2Image img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 1s;
}

.genreSection2Image span{
    color:white;
    background: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* when hovered */
.genreSection2Image:hover img{
    transform: scale(1.4);    
}








.LanguageSong{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.languageSongImage{
    width: 120px;
    min-height: 120px;
    overflow: hidden;
    margin: 10px;

    position: relative;
}

.languageSongImage img{
    width: 100%;
    margin-bottom: 5px;
}

.songDetail p{
    color:white;
    background: none;
    font-size: small;
    line-height: 1.25rem;
}











/* Queue */
.whiteBackGround{
    background-color: white;
}

.blackFontColor{
    color: black;
}


.aside_container{
    width: 90%;
    height: 100%;
    margin: auto;
}

.QueueHeading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.QueueText>p{
    color: white;
    font-size: 1.5rem;
}

.QueueMenu>span{
    color: aqua;
    opacity: 0.8;
}

.QueueMenu{
    position: relative;
}

.QueueMenuOptionsList{
    display: none;
    width: 150px;
    height: 80px;
    position: absolute;
    right: 3px;
    top:20px;
}

.QueueMenu:hover .QueueMenuOptionsList{
    display: block;
}


.QueueMenuOptionsList>ul,li{
    list-style: none;
    margin: 10px;
}


.QueueList{
    width: 90%;
    height: 59%;
    margin: auto;
    margin-top: 40px;

    overflow-y:scroll ;
}


/* Scroll Bar - Kepp Scroll bar functionality bt hide the scroller */
.QueueList::-webkit-scrollbar {
    display: none;
  }





.QueueList li{
    width: 95%;
    height: 70px;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



.QueueListSongDetail{
    min-width: 40%;
    display: flex;
    align-items: center;
}

.QueueListSongDetail>*{
    margin-left: 10px;
}


.QueueListSongImage{
    width: 40px;
    height: 40px;
}

.QueueListSongImage img{
    width: 100%;
    height: 100%;
}

.QueueListHeart, .QueueListSongDetail>p, .QueueListSongName>p:nth-child(2){
    color: rgb(199, 194, 194);
    font-size: small;
}







#lightbox_switch{
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgb(155, 145, 145) 0px 5px 20px;
    position: absolute; 
    bottom: 25px;
    right: 20px;
}

#lightbox_switch img{
    width: 100%;
    height: 100%;
    scale: 150%;
}

.closeMenuButton{
    display: none;
    text-decoration: none;
    color: cyan;
}






@media only screen and (max-width:576px){
    .main_container{
        position: relative;
        grid-template-columns: 1fr 1fr;
    }

    

    #lightbox_switch{
        display: block;
        position: fixed;
        transition:all 2s ease-in-out;
    }

    .aside_container{
        display: none;
        overflow: auto;
        height: 400px;
        width: 300px;
        margin: 0;
    }


    .QueueHeading{
        display: none;
    }

    .QueueList{
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 0;
        justify-content: space-evenly;
        padding: 25px;
    }

    .QueueList li{
        margin-top: 0;
    }

    .closeMenuButton{
        display: block;
        position: fixed;
        top: 26%;
        left: 42%;
    }


    .aside_container:target{
        display: block;
        position:fixed;
        
        top:25%;
        left:40%;
        background-color:hsl(0, 0%, 90%);
        transition:all 1s ease-in-out;
    }


}














/* Bottom most Current Song Controller */


.songPlayerContainer{
    grid-area: songPlayerContainer;
    background-color: #282828;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(120px, auto);

    grid-template-areas: "currSongPlayingDetail curSongControlContainer curSongSideControl";
}


.songPlayerContainer *{
    background-color: transparent;
}



.currSongPlayingDetail{
    grid-area: currSongPlayingDetail;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:80%;
}

.curSongImage{
    width: 60px;
    height: 60px;
}

.curSongImage img{
    width: 100%;
    height: 100%;
}


.curSongDetail{
    position: relative;
    left:-5%;
}


.curSongIcons i{
    font-size: larger;
    margin: 0 5px 0 5px;
}




.curSongControlContainer{
    grid-area: curSongControlContainer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.curSongControl1{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.curSongControl1 i{
    font-size: 1.3rem;
}


.curSongControl1>i:nth-child(3) {
    font-size: 3rem;
}



.curSongSliderControl{
    width: 80%;
    height: 5px;
    border-radius: 50px;
    background-color: #404040;

    position: relative;
}

.curSongSliderControl::before{
    content: "1:39";
    color: white;
    font-weight: bold;
    position: absolute;
    left: -50px;
    top:-7px;
}

.curSongSliderControl::after{
    content: "4:44";
    color: white;
    font-weight: bold;
    position: absolute;
    right:-50px;
    top: -7px;
}


.curSongPlayedTill{
    
    width: 200px;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(47, 248, 47);
}

.curSongSliderCircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: 200px;
    top: -12px;
    background-color: white;
}




.curSongSideControl{
    grid-area: curSongSideControl;
}



.volumeControlBar{
    width: 90px;
    height: 3px;
    border-radius: 25px;
    background-color: hsla(0, 0%, 70%, 1);
}

.curVolumeStatus{
    width: 30%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(47, 248, 47);
}


.CurrVolumeControl{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin-left: auto;
}

.CurrVolumeControl i{
    font-size: 1rem;
}

.curVolumeSliderCircle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: -9px;
    left: 30%;
}



@media only screen and (max-width:576px){

    .songPlayerContainer{    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(50px, auto) minmax(100px, auto) minmax(50px, auto);
    
        grid-template-areas: "currSongPlayingDetail "
                            "curSongControlContainer"
                            "curSongSideControl";
    }


    .currSongPlayingDetail{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .curSongControlContainer{
        width: 80%;
        margin: auto;
        height: 100px;
        vertical-align: middle;
    }

    .CurrVolumeControl{
        margin: auto;
        height: 50px;
    }


}